<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ if .Params.description }}
    <meta name="description" content="{{ .Params.description }}">
    {{ else }}
    <meta name="description" content="{{ .Site.Params.description }}">
    {{ end }}
    <meta name="keyword"  content="{{ .Site.Params.keyword }}">
    <link rel="shortcut icon" href="{{ "img/favicon.ico" | absURL }}">

    <title>{{ if eq .Title .Site.Title }}
             {{ .Site.Title }}
           {{ else }}
             {{ .Site.Title }} • {{ .Title }}
           {{ end }} </title>

    <link rel="canonical" href="{{ .URL | absURL }}">

    <link rel="stylesheet" href="{{ "css/iDisqus.min.css" | absURL }}"/>
	
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "css/bootstrap.min.css" | absURL }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "css/hux-blog.min.css" | absURL }}">

    <!-- Pygments Github CSS -->
    <link rel="stylesheet" href="{{ "css/syntax.css" | absURL }}">

    <!-- Custom Fonts -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!--
    <script src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    -->
    <!-- jQuery -->
    <script src="{{ "js/jquery.min.js" | absURL }}"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "js/bootstrap.min.js" | absURL }}"></script>
    
    <!-- Custom Theme JavaScript -->
    <script src="{{ "js/hux-blog.min.js" | absURL }}"></script>
</head>
